.rooms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  margin-block-end: 1rem;
}

.roomInfo {
  margin: 1.5rem;
}

.back__text {
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
  padding: 0.5rem;
  border-radius: 5px;
  width: fit-content;
}
.room__buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
